@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    margin: 0;
}

a, p {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    max-width: 1220px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 41px;
    font-size: 40px;
    font-weight: 400;

}

@media (max-width: 1090px) { 
    .conteiner {
        max-width: 768px;
        border: 0;
    }
    a {
        font-size: 32px;
        margin-left: 15px;
    }
    header img {
        width: 82px;
        height: 67px;
    }
}
